body {
  margin: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#player-cards {
  display: inline-block;
  width: 100%;
}

#opp_left_cards {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#opp_right_cards {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#teammate_cards {
  display: inline-block;
  width: 100%;
}

#player_cards_container {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 2%;
}

#teammate_cards_container {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 2%;
  transform: rotate(180deg);
}

#opp_left_cards_container {
  text-align: left;
  position: relative;
  width: 80%;
  right: 30%;
  top: 50%;
  transform: rotate(90deg);
}

#opp_right_cards_container {
  text-align: right;
  position: relative;
  width: 80%;
  left: 50%;
  top: 25%;
  transform: rotate(270deg);
}

#table_cards_container {
  position: absolute;
  width: 50%;
  height: 70%;
  left: 25%;
  top: 15%;
}

#west-table-card {
  position: absolute;
  width: 140%;
  top: 38%;
  right: 3%;
  transform: rotate(90deg);
}

#east-table-card {
  position: absolute;
  width: 140%;
  top: 38%;
  left: 7.5%;
  transform: rotate(270deg);
}

#north-table-card {
  width: 140%;
  position: absolute;
  top: 15%;
  left: -17%;
  text-align: center;
  transform: rotate(180deg);
}

#south-table-card {
  width: 140%;
  position: absolute;
  top: 62%;
  left: -17%;
}

#trump_card_container {
  position: absolute;
  width: 50%;
  height: 70%;
  top: 15%;
  left: 25%;
}

#east-trump-card {
  position: absolute;
  width: 140%;
  left: 30%;
  top: 15%;
  transform: rotate(90deg);
}

#north-trump-card {
  position: absolute;
  width: 140%;
  top: 12%;
  right: 8%;
}

#west-trump-card {
  position: absolute;
  width: 140%;
  transform: rotate(270deg);
  right: 30%;
  top: 60%;
}

#south-trump-card {
  position: absolute;
  width: 140%;
  top: 63%;
  left: 7%;
}

#scoreboard-container {
  position: absolute;
  left: 80%;
  top: 30%;
  color: white;
  font-size: 400%;
  float: left;
  clear: none;
}

#team-names {
  word-spacing: 1.2em;
}

#team-scores {
  word-spacing: 1.2em;
}

#game_table {
  display: inline-block;;
  width: 65%;
  height: 72.5%;
  padding-top: 10%;
  border-radius: 20px;
  border: 10px solid #443022;
  /* border-color: brown; */
  background: #076324;
  opacity: 1;
  /* float: center; */
  position: absolute;
  left: 5%;
  top: 30%;
  text-align: center;
}
/* #bid_history_div {
  position: absolute;
  left: 350px;
  top: 0px;
}

#round {
  position: absolute;
  left: 50px;
  top: 0px;
}

#current_round {
  position: absolute;
  left: 50px;
  top: 20px;
}

#chat_div {
  position: absolute;
  left: 450px;
  top: 0px;
} */
